:root {
    /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40; */

    --background-color: #f8f9fa;
    --second-background-color: #e9ecef;
    --accent-color: #6acc4c;

    --danger-color: #af2c35;
    --danger-color-light: #e99093;
    --success-color: #2c9f2c;
    --success-color-light: #9ddc9d;
    --secondary-color: #3075b6;
    --secondary-color-light: #7793ca;
    --warning-color: #9f8625;

    --white-box: #EDD6AF;
    --black-box: #B88761;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    color: var(--text-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen > p {
    color: #f3f3f3;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 8px solid #333; /* Light gray */
    border-top: 8px solid #f3f3f3; /* Dark gray */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 1rem;
}

.toast {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 4px var(--second-background-color);
    color: var(--text-light-color);
    animation: GoIn 0.5s 1;
    
}

.toast.success {
    border-left: solid 15px var(--success-color);
    color: var(--success-color);
}

.toast.danger {
    border-left: solid 15px var(--danger-color);
    color: var(--danger-color);
}

.toast.info {
    border-left: solid 15px var(--accent-color);
    color: var(--accent-color);
}

.toast.error {
    border-left: solid 15px var(--danger-color);
    color: var(--danger-color);
}

.toast.warning {
    border-left: solid 15px var(--warning-color);
    color: var(--warning-color);
}

.loader {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--text-white-color);
    position: absolute;
}

.material-symbols-outlined { user-select: none; }


.pop-up-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pop-up {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--second-background-color);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

.pop-up .title {
    font-size: 1.5rem;
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
}

.pop-up-buttons {
    display: flex;
    justify-content: space-around;
    margin: 38px auto 0 auto;
    width: 90%;
}

span.highlight {
    color: var(--accent-color);
}

span.action {
    color: var(--secondary-color);
    animation: pulse 1s infinite;
    display: inline-flex;
    align-items: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03) skewX(-25deg);
        filter: brightness(1.8);
    }
    100% {
        transform: scale(1);
    }
}

.pop-up-buttons button, .pop-up > .pop-up-message > button  {
    padding: 6px 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.pop-up > .pop-up-message > button {
    margin: 14px 0;
}

button.yes-button {
    background-color: var(--success-color-light);
    border: solid 1px var(--success-color);
    color: var(--success-color);
    border-radius: 4px;
}

button.no-button {
    background-color: var(--danger-color-light);
    border: solid 1px var(--danger-color);
    color: var(--danger-color);
    border-radius: 4px;
}

button.next-button {
    background-color: var(--secondary-color-light);
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 4px;
}

.pop-up-buttons button:hover, .pop-up > .pop-up-message > button:hover {
    transform: scale(1.1);
}

.form-input {
    padding: 6px 8px;
    border-radius: 4px;
    border: solid 2px var(--second-background-color);
    width: fit-content;
    min-width: 200px;
    margin: 6px;
}

.btn {
    padding: 6px 8px;
    border-radius: 4px;
    border: solid 2px var(--secondary-color);
    width: fit-content;
    background: var(--background-color);
    color: #333;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 6px;
}

.btn:hover {
    transform: scale(1.05);
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
